<!DOCTYPE html>
<html>
    <head>
        <title>RedditClone</title>
        <div class="page-header">
          <%= link_to root_path, class: "title_text" do%>
          <h1><%= link_to image_tag("logo.jpg"), root_path, class: 'logo' %>
            <%= link_to 'Read-IT!', root_path %></h1>
        <%end %>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    </head>

    <body>


        </div>
        <%= yield %>
    </body>
</html>
